<h1 style="text-align: center; margin-bottom: 50px;"><%= @list.name() %><i class="fa fa-tasks"></i></h1>

<p>Tasks:</p>

<ul>
  <% @tasks.each() do |task| %>
  <li><a href="/tasks/<%= task.id %>"><%= task.description() %></a></li>
  <% end %>
</ul>


<p><i>Create a new task:</i></p>

<form action="/tasks/new" method="post">
  <input type="hidden" name="id" value="<%= @list.id()%>">
  <label for="description">Name:</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-success">Add task</button>
</form>

<a href="/">Home</a>

<p><i>Edit <%= @list.name %> list:</i></p>
<form action="/lists/<%= @list.id() %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">New name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success">Update list</button>
</form>

<form action="/lists/<%= @list.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-success">Delete list</button>
</form>
