<h1 style="margin-bottom: 50px;">Update: <%= @task.description() %></h1>

<form action="/tasks/<%= @task.id() %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="description">New task description:</label>
  <input id="description" name="description" type="text">
  <button type="submit" class="btn btn-primary">Update task</button>
</form>

<form action="/tasks/<%= @task.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete task</button>
</form>
<br>
<a href="/lists/<%= @task.list().id() %>">Back to <%= @task.list().name() %> list</a><br>
<a href="/">Home</a>
